@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Dark theme scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #000000;
}

.dark ::-webkit-scrollbar-thumb {
  background: #00ffff;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #00cccc;
}

/* Light theme scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
